<!DOCTYPE html>
<html lang="en" ng-app="petApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Controller</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <section class="container">
        <section ng-controller="PetCtrl as $ctrl">
            <section class="show-breed">
                <span>Click to Show Breed</span>
                <input type="checkbox" ng-model="show" >
            </section>
            <section class="card" ng-repeat="pet in $ctrl.pets track by $index">
                <p>Name: {{ pet.name }}</p>
                <p ng-show="show">Breed: {{ pet.breed }}</p>
            </section>
        </section>
    </section>

    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="module.js"></script>
    <script src="controller.js"></script>
</body>

</html>